<!DOCTYPE html>
<html lang="es">
<!--head-->
<%- include("fragments/head") %>

<body class="d-flex flex-column">
    <%- include("fragments/header") %>
    <%- include("fragments/navbar") %>

    <main>
        <!-- TODO rellenar con lo necesario el texto de bienvenida -->
        <section class="bg-light py-4 shadow-lg mb-4">
            <div class="container text-center">
                <h1 class="display-5 fw-bold">¡Bienvenido a NexusHub!</h1>
            </div>
        </section>

        <!-- TODO añadir el "cuerpo" que queramos que tenga la página principal-->

    </main>
    
    <%- include("fragments/footer") %>

</body>
</html>