<!DOCTYPE html>
<html lang="es">

<%- include("fragments/head") %>

<body class="d-flex flex-column min-vh-100 bg-light">
    
    <%- include("fragments/header") %>
    <%- include("fragments/navbar") %>

    <%- include("fragments/footer") %>

</body>
</html>