<footer class="footer d-flex flex-wrap justify-content-between border-top py-3 my-4 px-3 mt-auto">
   
   
    <div class="container text-center ">
        <p class="fs-4 m-1 letra-azul">NexusHub</p>
        <p class="m-2">Crea. Conecta. Crece.</p>
        <p class="m-2">
            <a href="/politica-privacidad" class="me-3">Politica de Privacidad</a>
            <a href="/terminos-servicio">Terminos del Servicio</a>
        </p>
        <small class="d-block">© 2026 NexusHub - Todos los derechos reservados</small>
    </div>
</footer>