<footer class="footer d-flex flex-wrap justify-content-between border-top py-3 my-4 px-3 mt-auto">
    <div class="col-md-4 d-flex align-items-center">
        <!-- TODO hacer el footer-->
    </div>
</footer>