<header>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <!-- TODO habria que poner el logo y los botones -->
            
        </div>
    </div>
</header>
