<nav class="navbar navbar-expand-md bg-white sticky-top shadow-sm py-1">
    <div class="container-fluid">
        <!-- ESTO ESTÁ VACÍO PARA METER LOS BOTONES EN LA PÁGINA DE INICIO -->
    </div>
</nav>

